@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
  --redbg: #1b0c11;
  
  --color-heading: #ffffff;
  --color-subheading: #a8a8a8;
  --color-text: #555555;
  --color-primary: #19a588;
  --color-secondary: #022720;

  /* Button Background */
  --btn-primary: #00b395;
  --btn-primary-hover: #028973;

  --btn-secondary: #2563eb;
  --btn-secondary-hover: #1e40af;

  --btn-outline: transparent;
  --btn-outline-hover: #f5f5f5;

  /* Button Text */
  --btn-text: #ffffff;
  --btn-secondary-text: #00000000;
  --btn-outline-text: #00b395;

  /* Border */
  --btn-border: #00b395;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-redbg: var(--redbg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-heading: var(--color-heading);
  --color-subheading: var(--color-subheading);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  
  --color-btn-primary: var(--btn-primary);
  --color-btn-primary-hover: var(--btn-primary-hover);

  --color-btn-secondary: var(--btn-secondary);
  --color-btn-secondary-hover: var(--btn-secondary-hover);

  --color-btn-outline: var(--btn-outline);
  --color-btn-outline-hover: var(--btn-outline-hover);

  --color-btn-text: var(--btn-text);
  --color-btn-outline-text: var(--btn-outline-text);

  --color-btn-border: var(--btn-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


